
/*Animations*/

$main_animation: all .3s ease-in-out;

$white: #FFFFFF;
$grapefruit: #F94F4C;
$grapefruit-d: #D44141;
$aqua: #00B9C4;
$aqua-d: #00929A;
$sun: #FFC830;
$sun-d: #EEB20B;
$green: #81BA4C;
$green-d: #32A852;
$yellow: #FCFFE0;
$darkgray: #2B292D;
$darkrgray-d: #5B5664;
$lightgray: #F7F7F9;
$lightgray-d: #EBECF0;
